{% extends 'QcmAdminBundle::layout.html.twig' %}
{% from '@QcmAdmin/Answer/macros.html.twig' import list %}

{% block title %}{{ 'qcm_admin.answer.list'|trans }}{% endblock %}

{% block content %}
    {{ list(answers) }}

    <div class="actions-menu">
        {{ actions.add(path('qcm_admin_answer_add')) }}
    </div>
{% endblock %}
