{% extends 'QcmAdminBundle::layout.html.twig' %}
{% from '@QcmAdmin/Category/macros.html.twig' import list %}

{% block title %}{{ 'qcm_admin.category.list'|trans }}{% endblock %}

{% block content %}
    {{ actions.title('qcm_admin.category.list'|trans, 'glyphicon-th') }}
    {{ list(categories) }}

    <div class="actions-menu">
        {{ actions.add(path('qcm_admin_category_add')) }}
    </div>
{% endblock %}
