{% extends 'QcmAdminBundle::layout.html.twig' %}
{% from '@QcmAdmin/User/macros.html.twig' import show %}

{% block title %}{{ 'qcm_admin.user.show'|trans({ '%username%' : user.username }) }}{% endblock %}

{% block content %}
    <div class="actions-menu">
        {{ actions.cancel(path('qcm_admin_user_list'), 'qcm_core.button.return'|trans) }}
        {{ actions.edit(path('qcm_admin_user_edit', {id: user.id})) }}
    </div>

    {{ show(user) }}
{% endblock %}
